{% extends "index.html" %}

{% block content %}
{% set now_year  = now() | date(format="%Y") | int %}
{% set now_month = now() | date(format="%m") | int %}
{% set now_date  = now() | date(format="%d") | int %}

<p>
The Decrypto Seminar is a weekly seminar in which members of our group
present a research-level topic in the area of blockchain research. The
presentations take place online every Wednesday and last about one hour,
with discussion and questions following. The presenter is an expert on
the topic they are presenting, usually one of the co-authors
of the paper presented or a software engineer in the implementation discussed. The presentations concern peer reviewed and
upcoming research papers, technical proposals, experiments and measurements,
as well as implementation and engineering topics on blockchains and
cryptocurrencies.

<a href='https://groups.google.com/g/decrypto'>Subscribe for Seminar Updates</a>
</p>

<h3>Upcoming Seminars</h3>

{% for seminar in page.extra.seminars %}
    {% if seminar.placeholder %}
        {% set iso_datetime = seminar.date %}
    {% else %}
        {% set iso_datetime = seminar.date ~ "T" ~ seminar.time ~ seminar.timezone %}
    {% endif %}
    {% set seminar_year  = iso_datetime | date(format="%Y") | int %}
    {% set seminar_month = iso_datetime | date(format="%m") | int %}
    {% set seminar_date  = iso_datetime | date(format="%d") | int %}
    {% set past = seminar_year < now_year
       or seminar_year == now_year and seminar_month < now_month
       or seminar_year == now_year and seminar_month == now_month and seminar_date < now_date %}
    {% if past %}
        {% continue %}
    {% endif %}
    {% if seminar.placeholder %}
        <div class='card announcement mb-3'>
            <p class='card-header'>
                {{ iso_datetime | date(format="%B %e, %Y", timezone="UTC") }}
            </p>
            <div class='card-body'>
                <p>{{ seminar.announcement|safe }}</p>
            </div>
        </div>
        {% continue %}
    {% endif %}
    <div class='card mb-3'>
        <p class='card-header'>
            {{ iso_datetime | date(format="%B %e, %Y, %I:%M %p", timezone="UTC") }} UTC
            <time data-datetime="{{ iso_datetime }}"></time>
            <a class='float-right copy-invite' href='' title='Invitation copied' data-toggle='tooltip' data-trigger='click'>
                <svg class="octicon octicon-clippy" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M5.75 1a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-3a.75.75 0 00-.75-.75h-4.5zm.75 3V2.5h3V4h-3zm-2.874-.467a.75.75 0 00-.752-1.298A1.75 1.75 0 002 3.75v9.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-9.5a1.75 1.75 0 00-.874-1.515.75.75 0 10-.752 1.298.25.25 0 01.126.217v9.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-9.5a.25.25 0 01.126-.217z"></path></svg>
            </a>
        </p>
        <div class='card-body'>
            <h5>{{ seminar.title }}</h5>
            <h6>
                {% if seminar.authorlink %}
                    <a href='{{ seminar.authorlink }}'>{{ seminar.author }}</a>,
                {% else %}
                    {{ seminar.author }},
                {% endif %}
                {{ seminar.affiliation }}
            </h6>
            <p class='card-text'>
                {{ seminar.abstract|safe }}
            </p>
            {% if seminar.link %}
                <a class='btn btn-primary' href='{{ seminar.link }}'>Join seminar</a>
                {% if seminar.password %}
                <div style='padding-top: 1em; color: #555; font-size: 90%'>Password: {{ seminar.password }}</div>
                {% endif %}
            {% endif %}
            {% if seminar.slides %}
                <a class='btn btn-primary' href='{{ seminar.slides }}'>Get slides</a>
            {% endif %}
            {% if seminar.slides %}
                <a class='btn btn-primary' href='{{ seminar.slides }}'>Get slides</a>
            {% endif %}
            {% if seminar.video %}
                <a class='btn btn-primary' href='{{ seminar.video }}'>Watch video</a>
            {% endif %}
            <span class='d-none invite-text'>
                <span class='date-diff'>On</span>
                {{ iso_datetime | date(format="%A, %B %e, %Y, %I:%M %p", timezone="UTC") }} UTC,
                {{ seminar.author }} from <span class='affiliation-article'></span>
                <span class='affiliation'>{{ seminar.affiliation }}</span>
                will present "{{ seminar.title }}".

                Abstract:
                {{ seminar.abstract|safe }}

                {% if seminar.link %}
                Join here: {{ seminar.link }}
                {% endif %}
                {% if seminar.password %}
                Password: {{ seminar.password }}
                {% endif %}
                More seminars: https://decrypto.org/seminar
            </span>
        </div>
    </div>
{% endfor %}

<h3>Past Seminars</h3>

{% for seminar in page.extra.seminars|reverse %}
    {% if seminar.placeholder %}
        {% continue %}
    {% endif %}
    {% set iso_datetime = seminar.date ~ "T" ~ seminar.time ~ seminar.timezone %}
    {% set seminar_year  = iso_datetime | date(format="%Y") | int %}
    {% set seminar_month = iso_datetime | date(format="%m") | int %}
    {% set seminar_date  = iso_datetime | date(format="%d") | int %}
    {% set past = seminar_year < now_year
       or seminar_year == now_year and seminar_month < now_month
       or seminar_year == now_year and seminar_month == now_month and seminar_date < now_date %}
    {% if not past %}
        {% continue %}
    {% endif %}
    <div class='card mb-3'>
        <p class='card-header'>
            {{ iso_datetime | date(format="%B %e, %Y", timezone="UTC") }}
        </p>
        <div class='card-body'>
            <h5>{{ seminar.title }}</h5>
            <h6>{{ seminar.author }}, {{ seminar.affiliation }}</h6>
            <p class='card-text'>
                {{ seminar.abstract }}
            </p>
            {% if seminar.slides %}
                <a class='btn btn-primary' href='{{ seminar.slides }}'>Get slides</a>
            {% endif %}
            {% if seminar.video %}
                <a class='btn btn-primary' href='{{ seminar.video }}'>Watch video</a>
            {% endif %}
        </div>
    </div>
{% endfor %}

<script type="text/javascript" src="/scripts/local-time.js"></script>
<script type="text/javascript" src="/scripts/copiable.js"></script>

{% endblock content %}
